@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Poppins:wght@300&display=swap"); /* Import the title font*/
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Poppins:wght@300;400&display=swap"); /* Import the text font*/

.body {
  font-family: "Poppins", sans-serif;
}

.h1 {
  color: white;
  text-align: center;
  font-size: 5vw;
  font-family: inherit; 
}

.main-container {
  background-image: url("../../assets/images/background-image.webp");
  height: 100%;
  max-width: 100%;
  
  background-size: cover;
  
  padding-top: 150px;
}


.with-borders {
  border-style: solid;
  border-color: black;
}

.align-center {
  text-align: center;
  margin: auto;
}

.xxl-padding {
  padding: 100px 100px 100px 100px;
}

.xl-padding {
  padding: 75px 75px 75px 75px;
}

.lg-padding {
  padding: 50px 50px 50px 50px;
}

.md-padding {
  padding: 25px 25px 25px 25px;
}

.sm-padding {
  padding: 5px 5px 5px 5px;
}

/*--------------------USER SCREEN ---------------------------------------*/




.user-screen-container {
  
  /*background-color: #67442c;*/
  background-color: rgba(103, 68, 44, 0.7);
  /*opacity: 0.7;*/
  width: 100vw;
  height:fit-content;
  margin: auto auto auto auto;
  border-radius: 5px;
  border-color: yellow;
  padding: 20px 20px 20px 20px;
 
  
}

.user-screen {
  
  margin: auto auto auto auto;
  max-width: 100%;
  padding: 10px 10px 10px 10px;
  /*background-color: #67442c;*/
  background-color: rgba(103, 68, 44, 0.7);
  /*opacity: 0.7;*/
  color: white;
  
}

.scroll-section {
  
  overflow: scroll;
}

.main-title {
  color: #fafafa;
  letter-spacing: 4px;
  display: block;
  font-weight: 700px;
  font-family: "Caveat", cursive;
  font-size: 5vw;
}


.sub-button,
.answer
 {
  background-color: #a37451;
  padding: 5px 5px 5px 5px;
  color: white;
  text-align: center;
  margin: auto auto auto auto;
  /*font-size: 22px;*/
  font-size: 4vw;
  /*border-radius: 2px;*/
  width: 90%;
  font-family: "Caveat", cursive;
}


.button-container {
  padding: 5px 5px 5px 5px;
  text-align: center;
    
}

.hall-of-fame-table {
  text-align: center;
  color: inherit;
  font-size: inherit;
  padding: inherit;
  
}

.hall-of-fame-table-title {
  text-align: center;
  color: inherit;
  font-size: inherit;
  padding: inherit;
  
}

.high-scores-list {
  text-align: left;
  color: inherit;
  font-size: inherit;
  padding: 30px;;
  
}

#game-over-modal {
  text-align: center;
  background-color: #1D110F;
  color: #a37451;
  font-size: 30px;
  padding: 5px 5px 5px 5px;
  letter-spacing: 4px;
  
  font-weight: 700px;
}




#score {
    text-align: center;
    background-color: #1D110F;
    color: #a37451;
    font-size: 30px;
    padding: 5px 5px 5px 5px;
    letter-spacing: 4px;
    display: block;
    font-weight: 700px;
}




.hidden {
  display: none;
}

.display {
  display: block;
}

/*-----------------END OF USER SCREEN-------------------------------------*/



/*--------------------MEDIA QUERIES - FOR RESPONSIVE DESIGN ---------------------------------------*/
@media screen and (max-width: 576px) {
  .sub-button,
  .user-screen {
    padding: 0px 0px 0px 0px;
  }
}
/*--------------------END OF MEDIA QUERIES---------------------------------------*/
